@using Microsoft.AspNetCore.Identity

@model ApplicationUser

<h1>Change Password</h1>


<form enctype="multipart/form-data" asp-route-id=@Model.Id asp-controller="Admin" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label>New Password</label>
        <input asp-for="PasswordHash" value="" class="form-control" placeholder="Input new password..." />
        <span asp-validation-for="@Model.PasswordHash" class="text-danger"></span>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>

    <div class="btn-wrapper">
        <button type="submit" class="btn btn-primary">Change</button>
    </div>
</form>
<a asp-action="Index" asp-controller="Admin" class="btn btn-info">Return Home page</a>

