@model Category

<h1>Category Request</h1>


<div class="col-md-12">
    <form asp-action="SendCategoryRequest" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="CategoryName" class="control-label"></label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Send Request" class="btn btn-primary" />
        </div>
    </form>
</div>